<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1000/xhtml"
>
<head>
    <head th:replace="common/header :: common-header"/>
</head>
<body>
<div th:replace="common/header :: header-top"/>
<div th:replace="common/header :: header"/>

<div class='current-link-area'>
    <div class='container'>
        <div class='row'>
            <div class='current-link-area__links'>
                <a th:href="@{/myProfile}">Profile</a>
                <span>/</span>
                <a class='active' href='#0'>Edit password</a>
            </div>
        </div>
    </div>
</div>

<div class="content-area">
    <div class="container">
        <div class="row">
            <div class="content-area__profile">
                <div class="info-box">
                    <div class='password-manage'>
                        <h3>Edit password</h3>
                        <div class='form'>
                            <form method='post' th:action="@{/myProfile/password/edit}" th:object="${passwordEditDto}">

                                <span
                                        style="display: block; color: red; margin: 15px 0;"
                                        th:errors="*{oldPassword}" th:if="${#fields.hasErrors('oldPassword')}"/>
                                <div class='field'>
                                    <input name="oldPassword" placeholder="Old password.." type="password"/>
                                </div>
                                <span
                                        style="display: block; color: red; margin: 15px 0;"
                                        th:errors="*{newPassword}" th:if="${#fields.hasErrors('newPassword')}"/>
                                <div class='field'>
                                    <input name="newPassword" placeholder="New-password.." type="password"/>
                                </div>
                                <span
                                        style="display: block; color: red; margin: 15px 0;"
                                        th:errors="*{retypedNewPassword}"
                                        th:if="${#fields.hasErrors('retypedNewPassword')}"/>
                                <div class='field'>
                                    <input name="retypedNewPassword" placeholder="Retype the new password.."
                                           type="password"/>
                                </div>
                                <div class='field'>
                                    <input type="submit" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/header :: footer"/>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>