<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <head th:replace="common/header :: common-header"/>
</head>
<body>
<div th:replace="common/header :: header-top"/>
<div th:replace="common/header :: header"/>

<div class='current-link-area'>
    <div class='container'>
        <div class='row'>
            <div class='current-link-area__links'>
                <a class='active' href='#0'>Profile</a>
            </div>
        </div>
    </div>
</div>

<div class="content-area">
    <div class="container">
        <div class="row">
            <div class="content-area__profile" style="margin-bottom: 50px">
                <div class="info-box" style="width: 100%">
                    <div class='password-manage'>
                        <h3 th:text="${'Welcome, ' + user.name}"/>
                        <div style="width: 100%">
                            <a class="btn-secondary" style="width: 100%;
                           text-align: center; margin-bottom: 20px;" th:href="@{/myProfile/password}"> Edit password</a>
                        </div>
                        <div>
                            <a class="btn-secondary" style="width: 100%;
                           text-align: center; margin-bottom: 20px;" th:href="@{/myProfile/user/recharge}"> Recharge account</a>
                        </div>
                        <div>
                            <a class="btn-secondary" style="width: 100%;
                           text-align: center; margin-bottom: 20px;" th:href="@{/myProfile/user/transfer}"> Transfer</a>
                        </div>

                        <div th:if="${!existBankAccount}">
                            <a class="btn-secondary" style="width: 100%;
                           text-align: center;" th:href="@{/myProfile/user/bankAccount}"> Add account bank</a>
                        </div>
                    </div>

                </div>
                <div class="money-box" sec:authorize="hasRole('USER')">
                    <div class='solde'>
                        <h3>SOLDE DISPONIBLE</h3>
                        <span th:text="${balance} + '€'"></span>
                    </div>
                </div>
                <div class="money-box" sec:authorize="hasRole('ADMIN')">
                    <div class='solde'>
                        <h3>COMMISSION TOTAL</h3>
                        <span th:text="${balance} + '€'"></span>
                    </div>
                    <div class='add-coupon'>
                        <div style="width: 100%">
                            <a class="btn-secondary" style="width: 100%;
                           text-align: center; margin: 40px 0" th:href="@{/myProfile/admin/coupon}"> Manage Coupons</a>
                        </div>
                        <div>
                            <a class="btn-secondary" style="width: 100%;
                           text-align: center;" th:href="@{/myProfile/admin/messages}"> Contact Messages</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-area__head" sec:authorize="hasRole('USER')" th:if="${!inactiveConnection.empty}">
                <div class="info">
                    <h3>Request Connections </h3>
                </div>
                <table class="table">
                    <tr>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="current: ${inactiveConnection}">
                        <td th:text="${current.email}"/>
                        <td><a class="btn-secondary"
                               th:href="${'/myProfile/user/add-connection/accept/' + {current.id}}">accept
                        </a>
                            <a class="btn-secondary"
                               style="background-color: red" th:href="${'/myProfile/user/add-connection/remove/' + {current.id}}">decline
                            </a>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="content-area__head" sec:authorize="hasRole('USER')" th:if="${!activeConnection.empty}">
                <div class="info">
                    <h3>My Connections</h3>
                    <a class="btn-secondary" th:href="@{/myProfile/user/add-connection}">
                        Add Connection
                    </a>
                </div>
                <table class="table">
                    <tr>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="current: ${activeConnection}" th:if="${user.id != current.id}">
                        <td th:text="${current.email}"/>
                        <td>
                            <a th:href="${'/myProfile/user/add-connection/remove/' + {current.id}}">
                                <img alt='remove icon' src='/images/remove-user.png'/>
                            </a>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="content-area__head" sec:authorize="hasRole('USER')" th:if="${activeConnection.empty}">
                <div class="info">
                    <h3>My Connections</h3>
                    <a class="btn-secondary" th:href="@{/myProfile/user/add-connection}">
                        Add Connection
                    </a>
                </div>
                <div style="text-align: center; margin-top: 70px">
                    <span>No connections available!</span>
                </div>
            </div>
            <div class="content-area__head" sec:authorize="hasRole('ADMIN')" th:if="${!users.empty}">
                <div class="info">
                    <h3>Users List</h3>

                </div>
                <table class="table">
                    <tr>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.email}"/>
                        <td>
                            <a th:href="${'/myProfile/admin/user/' + {user.id}}">
                                <img alt='view icon' src='/images/view.png'/>
                            </a>
                            <a th:href="${'/myProfile/admin/user/remove/' + {user.id} + '/' + {currentPage}}">
                                <img alt='remove icon' src='/images/remove-user.png'/>
                            </a>
                        </td>
                    </tr>

                </table>
                <div class="pagination">
                    <a th:href="@{'/myProfile/page/' + ${currentPage - 1}}" th:if="${currentPage > 1}">&laquo;</a>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:class="${currentPage == i } ? active : ''"
                           th:href="@{'/myProfile/page/' + ${i}}">[[${i
                            }]]</a>
                    </span>
                    <a th:href="@{'/myProfile/page/' + ${currentPage + 1}}" th:if="${currentPage < totalPages}">
                        &raquo;</a>
                </div>

            </div>
            <div class="content-area__head" sec:authorize="hasRole('ADMIN')" th:if="${users.empty}">
                <h3>User List</h3>
                <div style="text-align: center; margin-top: 70px">
                    <span>No user available!</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>