<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <head th:replace="common/header :: common-header"/>
</head>
<body>
<div th:replace="common/header :: header-top"/>

<div class="account-area">
    <div class="container">
        <div class="row">
            <div class="account-area__info-box">
                <div class="logo">
                    <a class="logo-btn" href="/">
                        Pay My Buddy
                    </a>
                </div>
                <div class="social-account">
                    <a th:href="${facebook}">
                        <img src="images/facebook-login.png"/>
                        <span>Facebook</span>
                    </a>

                    <a th:href="${google}">
                        <img src="images/google.png"/>
                        <span>Google</span>
                    </a>
                </div>
                <div class="form">
                    <form method="post" th:action="@{/newUser}" th:object="${signupDto}">
                        <span
                                style="display: block; color: red; margin: 15px 0;"
                                th:errors="*{username}" th:if="${#fields.hasErrors('username')}"/>
                        <div class='field'>
                            <input name="username" placeholder="Username.." type="text"/>
                        </div>
                        <span
                                style="display: block; color: red; margin: 15px 0;"
                                th:errors="*{email}" th:if="${#fields.hasErrors('email')}"/>
                        <div class='field'>
                            <input name="email" placeholder="Email.." type="email"/>

                        </div>
                        <span
                                style="display: block; color: red; margin: 15px 0;"
                                th:errors="*{password}" th:if="${#fields.hasErrors('password')}"/>
                        <div class='field'>
                            <input name="password" placeholder="Password.." type="password"/>
                        </div>
                        <div class='field'>
                            <span
                                    style="display: block; color: red; margin: 15px 0;"
                                    th:errors="*{retypePassword}" th:if="${#fields.hasErrors('retypePassword')}"/>
                            <input name="retypePassword" placeholder="Retype password.." type="password"/>
                        </div>
                        <div class='field'>
                            <input type="submit" value="Create An Account"/>
                        </div>
                    </form>
                </div>
                <p>Already have an account ? <a href="/login">Login</a></p>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>