<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <head th:replace="common/header :: common-header"/>
</head>
<body>
<div th:replace="common/header :: header-top"/>
<div th:replace="common/header :: header"/>

<div class='current-link-area'>
    <div class='container'>
        <div class='row'>
            <div class='current-link-area__links'>
                <a th:href="@{/myProfile}">Profile</a>
                <span>/</span>
                <a class='active' href='#0'>Transfer</a>
            </div>
        </div>
    </div>
</div>

<div class="content-area">
    <div class="container">
        <div class="row">
            <div class="content-area__head" th:if="${existBankAccount}">
                <div class="info">
                    <h3>Send Money to my bank account</h3>

                </div>
                <form method="post" th:action="@{/myProfile/transfer/bank}">
                    <div class="head-box">
                        <div class="inner">
                                <div class="amount">
                                    <input max="10000" min="1" name="amount" step="1" type="number" value="1"/>
                                </div>
                        </div>
                            <div class="inner">
                                <button class="button" type="submit">
                                    Send
                                </button>
                            </div>
                    </div>
                </form>
            </div>
            <div class="content-area__head">
                <div class="info">
                    <h3>Send Money to connection</h3>
                    <a class="btn-secondary" th:href="@{/myProfile/user/add-connection}">
                        Add Connection
                    </a>
                </div>
                <form method="post" th:action="@{/myProfile/user/transfer/add}" th:object="${transferDto}">
                    <div class="head-box">
                        <div class="inner">
                           <select name="transfer">
                            <option value="">--Select A Connection--</option>
                            <option th:each="connection : ${connections}" th:if="${user.id != connection.id}"
                                    th:text="${connection.name}" th:value="${connection.id}"/>
                        </select>
                        </div>
                        <div class="inner">
                            <input name="description" placeholder="Description..." required type="text"/>
                        </div>
                        <div class="inner">
                            <span
                                    style="display: block; color: red; margin: 15px 0;"
                                    th:errors="*{amount}" th:if="${#fields.hasErrors('amount')}"/>
                            <div class="amount">
                                <input max="10000" min="1" name="amount" step="1" type="number" value="1"/>
                            </div>
                        </div>
                        <div class="inner">
                            <button class="button" type="submit">
                                Pay
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="content-area__table" th:if="${!transactions.empty}">
                <h3>My Transactions</h3>

                <table class="table">
                    <tr>
                        <th>Date</th>
                        <th>Connections</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                    <tr th:each="transaction: ${transactions}">
                        <td th:text="${#dates.format(transaction.transferDate, 'dd-MM-yyyy')} "/>
                        <td th:if="${user.id == transaction.credit.id} and ${user.id == transaction.debtor.id} and ${transaction.type.toString() == 'BANK'}"
                            th:text="${'bank account'}"/>
                        <td th:if="${user.id == transaction.credit.id} and ${transaction.type.toString() == 'OPERATION'}"
                            th:text="${transaction.debtor.name}"/>
                        <td th:if="${user.id == transaction.debtor.id} and ${transaction.type.toString() == 'OPERATION'}"
                            th:text="${transaction.credit.name}"/>
                        <td th:if="${user.id == transaction.credit.id} and ${transaction.type.toString() == 'RECHARGE'}"
                            th:text="${transaction.debtor.name}"/>
                        <td th:if="${user.id == transaction.debtor.id} and ${transaction.type.toString() == 'RECHARGE'}"
                            th:text="${'Admin'}"/>
                        <td th:text="${transaction.description} "/>
                        <td th:if="${transaction.credit.id == user.id} and ${user.id == transaction.debtor.id}  and ${transaction.type.toString() == 'BANK'}"
                            th:text="'-' + ${transaction.amount + transaction.commission} + '€' "/>
                        <td th:if="${transaction.credit.id == user.id} and ${transaction.type.toString() == 'OPERATION'}"
                            th:text="'-' + ${transaction.amount + transaction.commission} + '€' "/>
                        <td th:if="${transaction.debtor.id == user.id} and ${transaction.type.toString() == 'OPERATION'}"
                            th:text="'+' + ${transaction.amount} + '€' "/>
                        <td th:if="${transaction.debtor.id == user.id} and ${transaction.type.toString() == 'RECHARGE'}"
                            th:text="'+' + ${transaction.amount} + '€' "/>

                    </tr>
                </table>
                <div class="pagination">
                    <a th:href="@{'/myProfile/user/transfer/page/' + ${currentPage - 1}}" th:if="${currentPage > 1}">&laquo;</a>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:class="${currentPage == i } ? active : ''"
                           th:href="@{'/myProfile/user/transfer/page/' + ${i}}">[[${i
                            }]]</a>
                    </span>
                    <a th:href="@{'/myProfile/user/transfer/page/' + ${currentPage + 1}}"
                       th:if="${currentPage < totalPages}">
                        &raquo;</a>
                </div>
            </div>

            <div class="content-area__table" th:if="${transactions.empty}">
                <div class="info">
                    <h3>My Transactions</h3>
                </div>
                <div style="text-align: center; margin-top: 70px">
                    <span>No transaction available!</span>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>